<%= render "devise/shared/angellist" %>

<div class="aligncenter click">
  <a href="#" class="wordsize">Sign up with email</a>
</div>

<div class="aligncenter" id="openclose">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="fullwidth">
      <div>
        <%= f.text_field :name, :placeholder => "Name", :required => true %>
      </div>

      <div>
        <%= f.text_field :byline, :placeholder => "Byline", :required => true %>
        <div class="alignleft"><em>eg. Partner, Founders Fund</em></div>
      </div>

      <div>
        <%= f.email_field :email, :placeholder => "Email", :required => true  %>
      </div>

      <div>
        <%= f.password_field :password, :placeholder => "Password", :required => true  %>
      </div>
    </div>

    <div><%= f.submit "Sign up", :class => "btn" %></div>
  <% end %>
</div>

<% # render "devise/shared/links" %>
