<h1>All startups</h1>

<br>

<% @startups.each do |startup| %>
  <h2><%= startup.name %></h2>
  <img src="<%= startup.ceo_avatar_path %>" style="height: 16px;" />
  <em>Pitched by <%= startup.ceo_name %> at <%= startup.pitch_time.strftime("%-H:%M") %></em>
  <p><%= startup.pitch %></p>
  <button type="button" data-startup-id="<%= startup.id %>">Ping startup</button>
  <br>
<% end %>

</table>
