<% @startups.each do |startup| %>

  <div class="box">
    <div class="head">
      <img src="<%= startup.ceo_avatar_path %>" width="50" height="50" class="avatar" alt="<%= startup.ceo_name %>">
      <div class="meta">
        <h3><%= startup.name %></h3>
        <p>Pitched by <span class="name"><%= startup.ceo_name %></span> at <span class="name"><%= startup.pitch_time.strftime("%-H:%M") %></span> </p>
      </div>
    </div>
    <div style="clear:both;"></div>

    <div class="company">
      <p><%= startup.pitch %></p>
    </div>

    <div class="box-footer">
      <button class="btn btn-success" type="button" data-startup-id="<%= startup.id %>">Reach out</button>
      <!-- <p>or email <a href="mailto:<%= startup.ceo_email %>"><%= startup.ceo_email %></a></p> -->
    </div>
  </div>

<% end %>

<hr>

<footer>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %> · <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('Sign in', new_user_session_path) %>
  <% end %>
</footer>
