<%= render "devise/shared/angellist" %>

<div class="aligncenter" id="">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="fullwidth">
      <div>
      <%= f.email_field :email, :placeholder => "Email" %></div>

      <div>
      <%= f.password_field :password, :placeholder => "Password" %></div>

      <div class="alignleft">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me, :id => "checkbox_label"%></div></div>
      <% end -%>
    </div>
    <div><%= f.submit "Sign in", :class => "btn sign_in"  %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
