<p>Hi <%= @startup.ceo_name %>,</p>

<p><%= @user.name %> is interested in speaking. Get in touch:</p><br>

<table>
  <tr>
    <td rowspan="<%= @row_count %>"><img src="<%= @user.avatar %>" alt="<%= @user.name %>" style="margin-left: 10px; margin-right: 10px; vertical-align: top;" /></td>
    <td style="font-size: 16px;"><div style="margin-top: 5px"><strong><%= @user.name %></strong></div></td>
  </tr>
  <tr>
    <td><div style="margin-bottom: 10px"><i><%= @user.byline %></i></div></td>
  </tr>
  <tr>
    <td>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
  </tr>

  <% if @user.angellist_url %>
  <tr>
    <td>AngelList: <%= @user.angellist_url %></td>
  </tr>
  <% end %>

  <% if @user.linkedin_url %>
  <tr>
    <td>LinkedIn: <%= @user.linkedin_url %></td>
  </tr>
  <% end %>

  <% if @user.twitter_url %>
  <tr>
    <td style="vertical-align: top;">Twitter: <%= @user.twitter_url %></td>
  </tr>
  <% end %>
</table>
